
/* ========================================
==========  MICRO ANIMATIONS    ===========
======================================== */



/* ========== Scroll Up Fade ========== */
@keyframes slideInFromBottom {
  0% { transform: translateY(50%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
.scrollfade {
  animation: slideInFromBottom 0.5s ease-out forwards;
  /* 'forwards' ensures the animation stays at its end state */
}
.hidden {
  opacity: 0;
  transform: translateY(50%); /* Or other initial state */
}



/* ========== IMG ZOOM AND ROTATE ON HOVER ========== */
body.imgtwist img:not(.imgContain, .imgCover) {
    text-align: center;
	max-width: 100%;
	height: auto;
	transition: transform 125ms linear;
}
body.imgtwist img:hover:not(.imgContain, .imgCover) {
	transform: scale(1.1) rotate(-5deg);
}



/* ========== BUTTON RING ON HOVER ========== */
body.buttonring button ,
body.buttonring .button,
body.buttonring .centeredbutton {
    /* ALSO USE CLASS = BUTTON */
  	outline: 0px solid transparent; /* Initial transparent outline */
	outline-offset: 3px; /* Optional: Adjusts the distance of the outline from the border */
  	transition: outline-width 0.25s ease-in-out, outline-color 0.3s ease-in-out;
  	/* cursor: pointer; */
}
body.buttonring button:hover,
body.buttonring .button:hover,
body.buttonring .centeredbutton:hover {
  	outline-width: 5px; /* Outline animates out 5px */
  	outline-color: #369; /* Or a different color for the outline */
}
