
/* ========================================
=====      SLIDING PANEL MENU         =====
======================================== */

.menuExpandoButton {
	/* background-color: rgba(255,255,255,0.7); */
	/* display: none; */
	/* display: inline; */
	margin: 0px 10px 0px 0px;
	padding: 5px;
	text-align: center;
	width: 35px;

	/* .rounded; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

@media screen and (max-width: 480px) {
	.menuExpandoButton {
		display: inline;
	}
}

.menuExpandoButtonHeader {
	background-color: #336699;
	background-image: url(/images/bg6.gif);
	color: #FFFFFF;
	padding: 15px;

	/* .rounded; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


/* ========================================
============  ACCORDION MENU   ============
======================================== */

details.menuExpandoWrapper {
	/* background: #FFF; */
	background: rgba(150, 190, 250, 0.7);
	border-right: 1px solid #ccc;
	/* height: auto; */
	position: fixed;
	left: 0px;
	top: 60px;
	/* height: 100%; */
	width: 220px;
	z-index: 1000;
    /* padding: 5px; */
}

details.menuExpandoWrapper > summary {
    /* display: none; */
    list-style: none;
    height: 0px;
    width: 0px;
}

details.menuExpandoWrapper[open] > summary {
    --do-nothing: true;
}

details.menuExpandoWrapper:not([open]) { 
    --do-nothing: true;
}

details.menuExpandoWrapper > *,
details.menuExpandoWrapper[open] > *,
details.menuExpandoWrapper:not([open]) > * {
    animation: sweep 1s ease-out;
}

@keyframes sweep {
    0% { opacity: 0; margin-left: -220px }
    100% { opacity: 1; margin-left: 0px }
}

details.menuExpandoWrapper > summary::marker, 
details.menuExpandoWrapper > summary::-webkit-details-marker {
    display:none;
}

.menuExpando,
.menuExpando ul {
	/* ALL LIST LEVELS */
	display: inline-block;
	list-style-type: none;
	padding: 0;
	width: 200px;
    margin: 10px;
}

.menuExpando ul > li {
	/* ALL LIST ITEM LEVELS */
	border-bottom: 1px solid #FFF;
}

.menuExpando ul > li:first-child {
	/* ALL LIST ITEM LEVELS */
	border-top: 1px solid #FFF;
}

.menuExpando ul > li > a {
	/* this is the button */
	color: black;
	background: #CCC;
	background-image: url(/images/bg6-lt.jpg);
	display: block;
	font-weight: bold;
	height: 30px;
	line-height:30px;
    text-decoration: none;
	text-indent: 10px;
}

.menuExpando ul > li > a:hover {
	background: #EDD;
	background-image: url(/images/bg7-dk.gif);
	text-indent: 5px;
	border-left: 5px #000 solid;
}
