
/* ========================================
============  SIMPLE MENU   ============
======================================== */

.menu-wrapper {
	height: 100%;
}

.menu, .menu ul {
	/* ALL LIST LEVELS */
	display: inline-block;
	list-style-type: none;
	margin: 0px;
    padding: 0px;
}

.menu a {
	color: #000;
	display: block;
	text-decoration: none;
}

.menu-item {
	/* ALL LIST ITEM LEVELS */
	border: 1px solid #FFF;
    width: 150px;
    display: inline-block;
}

.menu-item a {
	/* this is the button */
	background: #DDD;
    font-size: smaller;
	font-weight: bold;
	height: 30px;
	line-height:30px;
	text-indent: 10px;
}

.menu-item a:hover {
	background: #EEE;
	text-indent: 5px;
	border-left: 5px #000 solid;
}
