
/* ========================================
===========  GENERAL SEARCH    ============
======================================== */

#page-search {
	min-height: 50px;
}



/* ========================================
============  GOOGLE SEARCH    ============
======================================== */

.gsib_a {
    padding: 1px 8px !important;
}

.gsc-tabsArea {
    border-color: #336699;
}

.gsc-tabHeader.gsc-tabhActive {
    border-color: #336699;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    box-sizing: content-box;
}

input.gsc-input {
	font-size: 1.0em !important;
	background: none !important;
}

.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
	padding: .5em !important;
}
