
/* ===== HEADER STYLES ===== */

h1 {
    text-align: center;
    font-size: 2.5em;
    font-variant-caps: small-caps;
    margin-top: 30px;
    margin-bottom: 30px;
}

.headerLogo img {
    clip-path: rect(1% 98% 98% 1% round 15%);
}

@media screen and (max-width: 480px) {
    .headerLogo {
        max-width: 70%;
        margin: auto 15%;
    }
}

.headerRight {
    margin: auto 0;
}

.headerAddress {
    margin: auto 0;
}


.headerSocial {
    margin: auto 0;
}


/* ===== CALLOUT STYLES ===== */

#aboutus-section .gridItem {
    margin: auto 0;
}


/* ===== CAROUSEL STYLES ===== */

.carouselContainer {
    background: none !important;
    /* border: none !important; */
}


/* ===== SECTION STYLES ===== */

body {
    font-size: 16px;
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/images/splatter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  */
}

main .section-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-bluechip {
    background-image: 
        linear-gradient(rgba(255,255,255,.25), 
        rgba(255,255,255,.25)), 
        url('https://images.ctfassets.net/0b82pebh837v/72Ctu7oGaGNja5gHpTz4Fd/50984bad832c63d7845e3c6d511a1735/BluChips.jpg');
    background-position: center;
    background-size: cover;
}

.section-bwchip {
    background-image: 
        linear-gradient(rgba(255,255,255,.25), 
        rgba(255,255,255,.25)), 
        url('https://images.ctfassets.net/0b82pebh837v/10u8y8Qcv6hkLnp1stjZZx/b9b6be999291a643f2c1cb1c22e5fc58/IMG_5559.jpg');
    background-position: center;
    background-size: cover;
}

.section-pavers {
    background-image: 
        linear-gradient(rgba(255,255,255,.25), 
        rgba(255,255,255,.25)), 
        url('https://images.ctfassets.net/0b82pebh837v/4vT6cKz1jGZNVnrLM8cNHG/6520f512d7dacd00224d13e87ae8084b/IMG_6229.jpg');
    background-position: center;
    background-size: cover;
}


.bigText {
    margin: auto 10%;
    text-align: center;
    font-size: 1.5em;
}

.tightGrid,
.section-container .row-1col {
    gap: 0px;
}

.menuWrapper {
    text-align: center;
}

.contactCTA {
    font-size: 1.5em;
    color: white;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center (optional) */
    text-align: center;
}

.contactCTA button {
    border: 1px solid #999;
	/* .rounded; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.contactCTA button:hover {
    cursor: pointer; 
    text-decoration: underline;
    color: #369;
    /* background-color: #DDD; */
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/images/splatter.jpg");
}

footer {
    margin-top: 50px;
}


/* ===== SIMPLE MENU STYLES ===== */

.menuWrapper {
    width: 100% !important;
}

.menu, 
.menu ul {
    width: 100% !important;
}

.menuItem {
    border: 0px  !important;
    width: 20%  !important; /* 5 MENU ITEMS */
    text-indent: 0px  !important;
    font-size: small  !important;
}

.menuItem a {
    background: none  !important;
    text-align: center  !important;
    text-indent: 0px  !important;
    font-size: small  !important;
}

.menuItem a:hover {
	/* background: #FFF; */
    font-size: medium  !important;
	border-left: none  !important;
    text-indent: 0px  !important;
    /* background-image: url('/images/splatter.jpg'); */
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/images/splatter.jpg")  !important;
    background-repeat: no-repeat  !important;
    /* background-attachment: fixed; */
    background-position: center  !important;
    background-size: cover  !important; /* Resize the background image to cover the entire container */

}

/* ===== FORM STYLES ===== */
.displayVertical {
    display: block;
    margin: 5px 5px 20px 5px !important;
    padding: 5px;
}


/* =================
   ===== PAGES ===== 
   ================= */

/* ===== HOME PAGE ===== */

#homeCTA-section {
    .homeCTA {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    .homeCTA button {
        border: 1px solid #999;
        /* .rounded; */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 0.8em;
        font-weight: bold;
        width: 300px;
        margin: 10px;
        padding: 10px;
    }
}

#home-callouts-section {
     .calloutImageVert {
        width: 90%;
    }
}

#home-reviews-section {
    .carouselContainer {
        height: 400px;
    }
    .carouselCardsContainer {
        width: 60%;
        height: 350px;
        margin: 0 auto;
    }
    .carouselCardBody {
        text-align: center;
        padding-top: 40px;
    }
}


/* ===== PROJECT PAGE ===== */

#project-carousel-section {
    .carouselContainer {
        height: 450px;
    }
    .carouselCardsContainer {
        height: 400px;
    }
}