
/* ========================================
===========  GENERAL STYLES   =============
======================================== */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;

	margin: 0px;
	padding: 0px;
	/* -ms-touch-action: none; */
}

a:link,
a:visited,
a:active {
	color: #369;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
    text-align: center;
	max-width: 100%;
	height: auto;
}

input {
	font-size: 1.1em;
	padding: 2px 5px;
	margin: 1px 5px !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 0 5px 2px #EEE;
	-moz-box-shadow: 0 0 5px 2px #EEE;
    box-shadow: 0 0 5px 2px #EEE;
}

ol, ul {
	margin: 20px 0;
	padding-left: 40px;
}

blockquote {
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    background-color: #FFF;
}

blockquote p {
	margin-bottom: 0px !important;
}

pre {
	/* USED FOR SYNTAX HIGHLIGHTING */
	white-space: pre-wrap;
	width: 83.33%; /* grid10 */
	display: inline-block;
	margin: 10px 8.33%;
	border: 1px solid #CCC;
	background: #EEE;
}




/* ========================================
===========  PAGE SCAFFOLDING   ===========
======================================== */


body {
	background: #EEE !important;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

section {
	/* margin-bottom: 50px; */
	padding: 10px 0
}

section.section-alt {
	/* margin-bottom: 50px; */
	padding: 30px 0;
    background-color: #CCC;

}

.section-container {
	margin: 0px auto;
	padding: 0px 5px;
	/* max-width: 1280px; */
	max-width: 1024px;
}

.fixed-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#fixed-header-spacer {
	margin-top: 60px;
}

#page-header {
	background-color: #369;
	background-image: url(/images/pix/pix-bg.gif);
	color: #FFF;
	height: 60px;
	padding: 10px 15px;
	z-index: 2000;
}

#page-hero {
	background-color: #EEE;
    border: 1px solid #AAA;
	height: 150px;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

@media screen and (max-width: 480px) {
    #page-hero {
		--do-nothing: true;
		/* height: 125px; */
    }
} 

#page-hero-overlay {
	background: rgba(240,240,240,0.5);
	font-size: 1.2em;
	padding: 10px 0;
	position: absolute;
	text-align: center;
	top: 15px;
	z-index: 10;
}

@media screen and (max-width: 480px) {
    #page-hero-overlay {
		font-size: 1.0em;
    }
}

#page-search {
	min-height: 50px;
}

nav {
	--do-nothing: true 
}

main {
	min-height: 400px;
}

@media screen and (max-width: 480px) {
    main {
		margin-top: 10px;
	}
}

main p {
	margin-bottom: 20px;
}

footer {
	min-height: 50px;
}





/* ========================================
=============  PRESENTATION   =============
======================================== */

.button, 
.centeredbutton {
	background-image: url(/images/pix/pix-bg-sm-bw.gif);
    border: 1px solid #999;
    display: inline-block;
    font-size: 14px !important;
    font-weight: bold;
	margin: 5px;
    padding: 5px 20px;
	/* .rounded; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.centeredbutton {
	display: block;
	margin: 5px auto;
    text-align: center;
	max-width: 220px;
	transition: all .2s ease ;
}

.centeredbutton:hover {
	font-size: 16px ;
}

.gradient {
	background: #CCC;
	background-image: linear-gradient(top, #EEE 0%, #CCC 100%);
	background-image: -o-linear-gradient(top, #EEE 0%, #CCC 100%);
	background-image: -moz-linear-gradient(top, #EEE 0%, #CCC 100%);
	background-image: -webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
	background-image: -ms-linear-gradient(top, #EEE 0%, #CCC 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(1, #CCC));
}

.textOutline {
	color: white;
	text-shadow:
		-1px 1px 1px black,
		1px 1px 1px black,
		1px -1px 1px black,
		-1px -1px 1px black,
		-1px 1px 5px black,
		1px 1px 5px black,
		1px -1px 5px black,
		-1px -1px 5px black
}

.border-bottom {
  border-bottom: 1px solid #AAA;
  padding-bottom: 5px;
}

/* USE THE FIX VERSIONS TO PREVENT MEDIA QUERIES FROM REDRAWING THEM */

.left, 
.pull-left {
	float: left !important;
	position: relative;
	text-align: left;
}

.right, 
.push-right {
	float: right !important;
	position: relative;
	text-align: right;
}

.margin {
	margin: 5px;
}

.margin-horiz {
	margin: 5px 0px;
}

.pad {
	padding: 5px;
}

.bigpad {
	padding: 10px;
}

.centered, .center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
}

.horizontal-centered {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.vertical-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* ========================================
   MEDIA QUERIES - PRINT
   ======================================== */

@media screen and (min-width: 480px) {
    .mobileOnly {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .noMobile {
        display: none;
    }
}




/* ========================================
   MEDIA QUERIES - PRINT
   ======================================== */

@media print {

    .page-header,
    .page-nav,
    .page-footer {
        display: none;
    }

    body {
        background: none !important
    }

    /* THIS IS DONE TO MAINTAIN PAGE STRUCTURE AND LAYOUT */
    .noPrint {
        visibility: hidden;
    }

}




/* ========================================
============  GOOGLE SEARCH    ============
======================================== */

.gsib_a {
    padding: 1px 8px !important;
}

.gsc-tabsArea {
    border-color: #336699;
}

.gsc-tabHeader.gsc-tabhActive {
    border-color: #336699;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    box-sizing: content-box;
}

input.gsc-input {
	font-size: 1.0em !important;
}

.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
	padding: .5em !important;
}




/* ========================================
===========  CUSTOM CAROUSEL    ===========
======================================== */

main .carouselCardImage {
    height: 550px !important;
	margin-top: 5px !important;
}
@media screen and (max-width: 480px) {
    main .carouselCardImage {
        height: 300px !important;
    }
}

main .carouselCardHeader { 
    display: none;
}

main .carouselCardSubHeader { 
    position: absolute;
    bottom: 5px;
    width: 100%;
    
}
main .carouselCardSubHeader h4 {
    text-align: center;
    font-size: 11px !important;
    font-weight: normal !important;
    color: white;
    text-shadow: -1px 1px 1px black, 
        1px 1px 1px black, 
        1px -1px 1px black, 
        -1px -1px 1px black, 
        -1px 1px 5px black, 
        1px 1px 5px black, 
        1px -1px 5px black, 
        -1px -1px 5px black;
}