/* ========================================
===============    FORMS    ===============
======================================== */
   
label, 
input,
textarea,
select,
form button {
    font-size: 1.1em;
	font-family: Verdana, Geneva, sans-serif;
    padding: 2px 5px;
    margin: 5px !important;
    vertical-align: middle;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.displayVertical,
span.displayVertical:last-child,
span.displayVertical:last-of-type {
    display:block;
	margin: 1px 5px 20px 20px !important;
}

span.displayVertical {
    display:block;
	margin: 1px 5px 1px 20px !important;
}

label {
	border: none;
}
 
input:focus,
textarea:focus,
select:focus,
form button:hover {
    outline: none;
	border: 1px solid #0C0;
	-webkit-box-shadow: 0 0 5px 2px #CCC;
	-moz-box-shadow: 0 0 5px 2px #CCC;
    box-shadow: 0 0 5px 2px #CCC;
}

form button, 
form input[type = button], 
form input[type = submit], 
form input[type = reset] {
	padding: 5px 20px;
	-webkit-box-shadow: 0 0 5px 2px #CCC;
	-moz-box-shadow: 0 0 5px 2px #CCC;
    box-shadow: 0 0 5px 2px #CCC;
}

form span {
	font-size: 1.1em;
	vertical-align: middle;
}

.tooltip {
	display: inline;
	margin-right: 10px;
	position: relative;
}

.tooltipIcon {
  	/* display: inline;
	color: white !important;
    background-color: #369;
    border-radius: 20px;
    padding: 0 3px; */
    vertical-align: middle;
	padding: 5px;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.tooltipIcon img {
  	width: 20px;
	/* margin: 5px 0 0 -10px; */
	background-color: #DDD;
    border-radius: 5px;
}

.tooltipText {
  	display: none;
	position: absolute;
	top: -25px;
    left: 25px;
	width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #666;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: -3px 0 10px #369, 0 3px 10px #369, 3px 0 10px #369, 0 -3px 10px #369;
}
.tooltip a {
	/* pointer-events: none; */
	text-decoration: none;
}