/* ========================================
============  BUZZWORD BINGO   ============
======================================== */

.bingoCard {
	border: 1px solid #AAA;
	max-width: 640px;
	margin: 0 auto;
}

.bingoCard {

	.bingoHeader{
		border: 1px solid #AAA;
		background-color: #CCC;
		font-size: 2em;
		font-weight: bold;
		aspect-ratio : 3 / 1;
	}

	.bingoBox {
		border: 1px solid #AAA;
		aspect-ratio : 1 / 1;
		width: 100%;
		height: 100%;
	}

	.bingoBoxText, 
	.bingoBoxFreeSpace {
		text-align:center;
		margin: auto 0;
		/* word-spacing: 1000px; */ /* force wrap after each word */
	}

	.bingoBoxFreeSpace {
		font-size: 1.1em;
		font-weight: bold;
	}
	
}

