
/* ========================================
===============  RECIPES    ===============
======================================== */

#recipe-list {
	/* background-image: url(/images/pix/pix-bg-sm-bw.gif); */
	border: 1px solid #999;
	box-shadow: 5px 5px 5px rgba(127, 127, 127, 1.0);
	font-size: 18px;
	height: 2em;
    margin-bottom: 15px;
}

.h-recipe-category {
	background-color: #EEE;
	/* background-image: url(/images/pix/pix-bg-sm-bw.gif); */
	border: 1px solid #CCC;
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
	margin: 30px 0px;
	padding: 14px;
	float: left;
	width: 100%;
}

/* https://microformats.org/wiki/h-recipe */

.h-recipe { --do-nothing: true; }
.h-recipe p { margin: 0px !important; }
.h-recipe.p-name {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    color: #000;
    font-size: 18px;
    margin: 20px 0;
    padding: 10px;
    float: left;
    width: 100%;
}
.e-ingredients, .e-instructions {
	color: #454545;
    font-family: Lucida Sans Unicode, Lucida, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
}
.h-recipe .p-ingredient { --do-nothing: true }
.h-recipe .p-yield { --do-nothing: true }
.h-recipe .e-instructions {
	list-style-type: decimal-leading-zero;
}
.h-recipe .p-instruction { --do-nothing: true }
.h-recipe .dt-duration { --do-nothing: true }
.h-recipe .u-photo {
	float: right;
	margin: 15px;
    max-width: 400px;
    max-height: 400px;
}
.h-recipe .u-photo:after{
	content: "";
  	display: table;
  	clear: both;
}
@media screen and (max-width: 480px) {
	.h-recipe .u-photo {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

/* EXPERIMENTAL PROPERTIES WITH WIDE ADOPTION */
.h-recipe .p-summary { --do-nothing: true }
.h-recipe .p-author { --do-nothing: true }
.h-recipe .dt-published { --do-nothing: true }
.h-recipe .p-nutrition { --do-nothing: true }
.h-recipe .p-category { --do-nothing: true }

/* PROPOSED PROPERTIES */
.h-recipe .u-remix-of { --do-nothing: true }

/* ========================================
==========    BACK TO TOP    ==============
======================================== */

.backToTop {
	background: #FFF;
	border: 1px solid #CCC;
	color: #000;
	font-size: 10px;
	padding: 5px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	top: 70px;
	width: 50px;
	z-index: 400;

	/* .rounded; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
