/* The actual timeline (the vertical ruler) */


.timeline {
  position: relative;
  margin: 20px auto;
  --timeline-color: #EEE;
}

.timeline, 
.timeline * {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #1d93da;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--timeline-color);
  border: 4px solid #FFB74d; /* #FF9F55 */
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .timeline-container div[class*='grid-'] {
    grid-column: 1 / -1;
  }
}

/* Place the container to the left */
.timeline-left {
  left: 0;
  padding-left: 10px;
}

/* Place the container to the right */
.timeline-right {
  left: 50%;
  padding-right: 10px;
}

/* Add arrows to the left container (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--timeline-color);
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--timeline-color) transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 10px;
  background-color: #EEE;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timeline-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .timeline-right {
  left: 0%;
  }
}
