/* ========================================
===============    EBAY     ===============
======================================== */

.ebayItems {
    text-align: center;
}

@media screen and (max-width: 480px) {
	.ebayItems {
		padding: 20px;
	}
}

.ebayItem {
    border: 1px solid #DDD;
    text-align: center;
    height: 435px;
    padding: 20px 40px;
    padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
	.ebayItem {
        height: auto;
	}
}

.ebayItemH {
    border: 1px solid #DDD;
    text-align: center;
    padding: 20px 40px;
    padding-bottom: 50px;
}

.ebayItemHeader {
    margin: 0 auto;
}

.ebayItemHeader h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.ebayItemPhoto img {
    padding: 10px 0;
}

.ebayItemDetails {
    padding-bottom: 10px;
}

.ebayItemPrice{
    font-size: 1.5em;
    font-weight: bold;

    background-image: url(../../../../public/images/bg7-dk.gif);
    border: 1px solid #999;
    display: inline-block;
	margin: 0 auto;
    padding: 5px 20px;
	
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ebayPagination {
    text-align: center;
    padding-top: 20px;
}

.ebayPage {
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.ebayPageCurrent {
    display: inline-block;
    padding: 10px;
    color: #999;
}