/* ========================================
===============  CAROUSEL   ===============
======================================== */

.carouselContainer{
	height: 600px;
	position: relative;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #AAA;
}

.carouselSliderContainer {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	overflow: hidden;
}

#carouselImageContainer {
	--do-nothing: true;
}

.carouselSliderImage {
	padding: 10px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.carouselArrow,
.carouselArrowLeft, 
.carouselArrowRight {
	position: absolute;
    font-size: 24px;
	top: 50%;
    opacity: .5;
	z-index: 900;
    padding: 5px;
}

.carouselArrowLeft {
	left: 0; 
}

.carouselArrowRight {
	right: 0;
}

.carouselSliderDetails {
	position: absolute;
	bottom: 20px;
	z-index: 1000;
    width: 100%;
	font-size: 11px;
	text-align: center;
}

.carouselHeroImage {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	margin: auto 0;
	display: block;
}

.carouselHeroVisible {
	display: block;
	visibility: visible;
	opacity: 1;
	transition: opacity 1.0s linear;
}

.carouselHeroHide {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1.0s, opacity 1.0s linear;
}

.carouselHeroHidden {
	display: none;
}

.carouselHeroDetails {
	position: absolute;
	bottom: 5px;
	z-index: 1000;
	width: 100%;
	max-width: 1024px;
	font-size: 11px;
}

.carouselHeroDetailsLeft {
	float: left;
    width: 50%;
    text-align: left;
    padding-left: 10px;
}

.carouselHeroDetailsRight {
	float: right;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.carouselLoading {
    column-span: all;
	text-align: center;
}
