.callout.overlay .calloutBody {
    position: absolute;
    top: unset;
    left: unset;
    transform: unset;
    width: 100%;
    bottom: 5px;
}

.callout.overlay .calloutBody,
.callout.overlay .calloutHeader,
.callout.overlay .calloutHeader *,
.callout.overlay .calloutButton {
    width: 100% !important;
    justify-content: center !important;
}

.callout.overlay .calloutHeader {
    margin: 0px !important;
    padding: 0px !important;
}

.callout.overlay .calloutTitle {
    color: white;
	text-shadow:
		-1px 1px 1px black,
		1px 1px 1px black,
		1px -1px 1px black,
		-1px -1px 1px black,
		-1px 1px 5px black,
		1px 1px 5px black,
		1px -1px 5px black,
		-1px -1px 5px black;
    /* -webkit-text-stroke: 1px black; */
}

.callout.overlay .calloutButton button {
    width: auto !important;
    padding: 5px 30px;
    margin: 0px !important;
}
