.callout.overlay .callout-body {
    position: absolute;
    top: unset;
    left: unset;
    transform: unset;
    width: 100%;
    bottom: 5px;
}

.callout.overlay .callout-body,
.callout.overlay .callout-header,
.callout.overlay .callout-header *,
.callout.overlay .callout-button {
    width: 100% !important;
    justify-content: center !important;
}

.callout.overlay .callout-header {
    margin: 0px !important;
    padding: 0px !important;
}

.callout.overlay .callout-subtitle {
    color: white;
	text-align: center !important;
	margin: 0 auto;
	text-shadow:
		-1px 1px 1px black,
		1px 1px 1px black,
		1px -1px 1px black,
		-1px -1px 1px black,
		-1px 1px 5px black,
		1px 1px 5px black,
		1px -1px 5px black,
		-1px -1px 5px black;
    /* -webkit-text-stroke: 1px black; */
}

.callout.overlay .callout-button button {
    width: auto !important;
    padding: 5px 30px;
    margin: 0px !important;
}
