
.masonry { /* Masonry container */
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
	-webkit-column-gap: 0px; /* 0.5em */
	-moz-column-gap: 0px;
	column-gap: 0px;
}
@media screen and (max-width: 1024px) {
	/* small desktop */
	.masonry {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media screen and (max-width: 768px) {
	/* tablet */
	.masonry {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}
@media screen and (max-width: 480px) {
	/* mobile device */
	.masonry {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

.cardBody img {
    text-align: center;
    max-width: none;
    height: auto;
}