/* ========================================
=========     LAYOUT COMPONENTS    =========
======================================== */

section.page-section {
    position: relative;
    overflow: hidden;
	/* margin-bottom: 50px; */
	padding: 0 0 30px 0;
}

/* Base section styles (used by `PageSection` component) */
.section-background-image {
	width: 100%;
	height: 100% !important;
	object-fit: cover;
	object-position: center top;
	position: absolute;
	opacity: 0.3;
	z-index: -1;
}

.page-section-content {
	width: 100%;
	box-sizing: border-box;
}

/* Grid item styles */
/* ALL GRID STYLES ARE IN PIXELATED.GRID.SCSS */
/* 
.grid-item {
	box-sizing: border-box;
	display: grid ;
	min-width: 0; // Prevents grid blowout
	min-height: 0;
}
*/

/* Flex item styles */
.flex-item {
	box-sizing: border-box;
	min-width: 0; // Prevents flex blowout
}
