
.modal {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    width: fit-content;
    position: relative;
  }

  .modal-content img {
    border: 2px solid #aaa;
  }
  
  /* The Close Button */
  .modal-close {
    color: #aaa;
    font-size: 28px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
    width: 30px;
    height:30px;
    background-color: white;
    border: 1px solid #999;
    -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
    z-index: 10;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .show {
    display: block;
  }

  .hide{
    display: none;
  }