
/* ========================================
    CUSTOM Pixelated Styles
 ======================================== */

#page-header {
    background-image: url(/images/pix/pix-bg.gif);
}

.panelMenuButton {
	margin: 0;
    padding: 0;
}

.panelMenuButton .hamburger {
	font-size: unset;
	margin: 10px 0;
}

#page-header-nav {
    color: white;
    z-index: 2000;
    /* background-color: var(--accent1-color); */
    background-image: url(/images/pix/pix-bg-bw.gif);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    height: 40px;
}

.fixed-header-nav {

    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;

    .menuItem {
        background: none;
    }
    .menuItem:hover {
        background-color: var(--accent1-color);
    }
    .menuItem a {
        font-size: unset;
        background: none;
    }
    .menuItem a.selected {
        background-color: var(--secondary-color);
    }
    .menuItem a:hover {
        background: none;
        border: none;
    }

}

#fixed-header-nav-spacer {
    height: 40px;
}

.button, 
.centeredbutton {
    background-image: url(/images/pix/pix-bg-sm-bw.gif);
}

@media screen and (max-width: 480px) {
	#page-header h2 {
		--do-nothing: true;
    	transform: scaleX(0.8);
    	transform-origin: left;
	}
    .fixed-header-nav {
        display: none;
    }
    #fixed-header-nav-spacer {
        display: none;
    }
}


/* ========================================
    CUSTOM Pixelated ACCORDION Menu Styles
 ======================================== */

 /* only for fullMenu QS param */
.accordionMenuWrapper,
.accordionDown, 
.accordionUp {
	top: 100px;
}

.panelMenuButton,
#panelMenuButton {
    display: none;
}

.accordionMenu > ul > li > a,
.accordionMenu > ul > ul > li > a {
    background-image: url(/images/pix/pix-bg-bw.gif);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}
.accordionMenu > ul > li > a:hover,
.accordionMenu > ul > ul > li > a:hover {
	background: #96befab3;
}

@media screen and (max-width: 480px) {
    .accordionMenuWrapper,
    .accordionDown, 
    .accordionUp {
        top: 60px;
    }
    .panelMenuButton,
    #panelMenuButton {
        display: block;
    }
}
