
/* ========================================
    CUSTOM Pixelated  SIMPLE Menu Styles
 ======================================== */

:root {
  --primary-color: #369;
  --secondary-color: #BCD;
  --accent1-color: #CCC;
  --accent2-color: #EEE;	
}

#page-header-nav {
    color: white;
    z-index: 2000;
    /* background-color: var(--accent1-color); */
    background-image: url(/images/pix/pix-bg-bw.gif);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    height: 40px;
}

.fixed-header-nav {

    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;

    .menuItem {
        background: none;
    }
    .menuItem:hover {
        background-color: var(--accent1-color);
    }
    .menuItem a {
        font-size: unset;
        background: none;
    }
    .menuItem a.selected {
        background-color: var(--secondary-color);
    }
    .menuItem a:hover {
        background: none;
        border: none;
    }

}

#fixed-header-nav-spacer {
    height: 40px;
}

@media screen and (max-width: 480px) {
    .fixed-header-nav {
        display: none;
    }
    #fixed-header-nav-spacer {
        display: none;
    }
}


/* ========================================
    CUSTOM Pixelated ACCORDION Menu Styles
 ======================================== */

 /* only for fullMenu QS param */
.accordionMenuWrapper,
.accordionDown, 
.accordionUp {
	top: 100px;
}

.panelMenuButton,
#panelMenuButton {
    display: none;
}

@media screen and (max-width: 480px) {
    .accordionMenuWrapper,
    .accordionDown, 
    .accordionUp {
        top: 60px;
    }
    .panelMenuButton,
    #panelMenuButton {
        display: block;
    }
}
