/* ========================================
===============  CAROUSEL   ===============
======================================== */

.carousel-container {
	height: 600px;
    background: #FFF;
    border: 1px solid #AAA;
}
.carousel-cards-container {
	height: 550px;
	position: relative;
    overflow: hidden;
}
@media screen and (max-width: 480px) {
    .carousel-container {
		height: 350px;
	}
	.carousel-cards-container {
        height: 300px;
    }
}

#carousel-cards-container {
	--do-nothing: true;
}

/* .noDrag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
	user-select: none;
} */

.carousel-card-wrapper {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.carousel-card {
	width: 100%;
	margin: 0 auto;
	
}

/* .carousel-card {
	width: 100%;
	height: 100%;
    margin: 0 auto;
} */

.carousel-card-header {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 5px auto;
	width: 100%;
}

.carousel-card-subheader {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin: 5px auto;
	width: 100%;
}

.carousel-card-body {
	margin: 5px auto;
	width: 90%;
}

.carousel-card-image {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 400px;
	position: relative;
	object-fit: fill;
	overflow: clip;
}

.carousel-card-image { 
	img {
		/* max-height: auto; 
		max-width: 100%;
		height: auto;
		width: 100%; */
		position: absolute; 
		top: 50%; 
		left: 50%; 
		transform: translate(-50%, -50%)
	}

	.imgFill {
		max-height: 100%; 
		max-width: 100%;
		height: 100%;
		width: 100%;
		object-fit: fill;
	}

	.imgContain {
		max-height: 100%; 
		max-width: auto;
		height: 100%;
		width: auto;
		object-fit: contain;
	}
	
	.imgCover {
		max-height: auto; 
		max-width: 100%;
		height: auto;
		width: 100%;
		object-fit: cover;
	}

}

.carousel-buttons {
	width: 100%;
	height: 50px;
	text-align: center;
}

.carousel-button {
    font-size: 24px;
	z-index: 900;
    padding: 5px;
	display: inline-block;
	border: none;
    background-color: transparent;
}

.carousel-container .carousel-buttons button.carousel-button {
	/* fix for buttonring microinteraction */
	outline: none !important;
}

.carousel-arrow,
.carousel-arrow-left, 
.carousel-arrow-right {
	position: absolute;
    font-size: 24px;
	top: 50%;
    opacity: .5;
	z-index: 900;
    padding: 5px;
}

.carousel-arrow-left {
	left: 0; 
}

.carousel-arrow-right {
	right: 0;
} 

.carousel-details {
	position: absolute;
	bottom: 20px;
	z-index: 1000;
    width: 100%;
	font-size: 11px;
	text-align: center;
}

.carousel-loading {
    column-span: all;
	text-align: center;
}
