
/* ========================================
===============  CALLOUTS   ===============
======================================== */

.callout {
	padding: 20px;
}

.callout-header {
	padding: 8px;
	clear: both;
	text-align: center;
	overflow: hidden;
}

.callout-title {
	text-transform: uppercase;
}

.callout-body {
	border-top: 0px solid transparent;
	/* display: inline-block; */
	padding: 5px;
}

.callout-body li {
	margin-bottom: 7px;
}

.callout-image {
    width: 70%;
	height: 70%;

	/* .round-img-container; */
	background: #fff;
    border: 1px solid #AAA;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    margin: auto;
	overflow: hidden;
	position: relative;
}

.callout-image-horiz {
	/* .callout-image; */

    width: 70%;
	height: 70%;

	background: #fff;
    border: 1px solid #AAA;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    margin: auto;
	overflow: hidden;
	position: relative;

    float: right;
}

@media screen and (max-width: 480px) {
	.callout-image-horiz {
		float: none;
	}
}

.callout-image:before,
.callout-image-horiz:before {
	/* .round-img-container-before ; */
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.callout-image img,
.callout-image-horiz img {
	/* .round-img ; */
	min-width: 100%;
    min-height: 100%;
    max-height: none;
    max-width: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
	left: -100%;
	transition: transform .3s ease; /* Animation */
}

.callout-image:hover img,
.callout-image-horiz:hover img {
	/* .round-img-hover ; */
	transform: scale(1.2) ;
}


/* ========================================
===============  SOCIAL   =================
======================================== */

.social-image {
    /* width: 90%;
    height: 90%; */

	/* .round-img-container; */
	background: #fff;
    border: 1px solid #AAA;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    margin: auto;
	overflow: hidden;
	position: relative;
}

.social-image:before {
	/* .round-img-container-before ; */
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.social-image img{
	/* .round-img ; */
	min-width: 100%;
    min-height: 100%;
    max-height: none;
    max-width: none;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
	left: -100%;
	transition: transform .3s ease; /* Animation */
}

.social-image:hover img{
	/* .round-img-hover ; */
	transform: scale(1.2) ;
}

