

/* ========================================
===============  NERDJOKE   ===============
======================================== */

.nerdjoke {
	padding-bottom: 20px;
	font-size:24px;
}

.nerdjoke div {
	padding-bottom: 15px;
}

.slackbutton {
	padding-bottom: 20px;
}

.label {
	font-weight: bold;
}