
/* ========================================
=============  GRID STYLES   ==============
======================================== */

@mixin rowBase {
    display: grid ;
    gap: 10px; /* Spacing between grid items */
    padding: 5px; /* Padding around the container */
    /* border: 1px solid black; /* For visual clarity */
}

@for $i from 1 through 12 {
	.row-#{$i}col { @include rowBase; grid-template-columns: repeat(#{$i}, 1fr); }
	// FIX STYLES DONT RESIZE FOR MOBILE DEVICES
	.rowfix-#{$i}col { @include rowBase; grid-template-columns: repeat(#{$i}, 1fr); }
}

@media screen and (max-width: 768px) {
	.row-1col, .row-2col { grid-template-columns: repeat(1, 1fr); }
	.row-3col, .row-4col { grid-template-columns: repeat(2, 1fr); }
	.row-5col, .row-6col { grid-template-columns: repeat(3, 1fr); }
	.row-7col, .row-8col { grid-template-columns: repeat(4, 1fr); }
	.row-9col, .row-10col { grid-template-columns: repeat(5, 1fr); }
	.row-11col, .row-12col { grid-template-columns: repeat(6, 1fr); }
}

@media screen and (max-width: 480px) {
	.row-1col, .row-2col, .row-3col, .row-4col { grid-template-columns: repeat(1, 1fr); }
	.row-5col, .row-6col, .row-7col, .row-8col { grid-template-columns: repeat(2, 1fr); }
	.row-9col, .row-10col, .row-11col, .row-12col { grid-template-columns: repeat(3, 1fr); }
}

@media screen and (max-width: 480px) {
	[class*="grid-s"] {
		grid-column: 1 / -1 !important;
	}
}



// GRID ITEM POSITIONING HELPERS
// Start (S) and SPAN Width (W) position helpers for grid items
@for $i from 1 through 12 {
	@for $k from 1 through 12 {
		.grid-s#{$i}-w#{$k} { display: grid ; grid-column: #{$i} / span #{$k}; }
		/* @media screen and (max-width: 480px) {
			.grid-s#{$i}-w#{$k} { grid-column: 1 / -1 ; }
		} */
	}
}

// GRID ITEM POSITIONING HELPERS
// Start (S) and END (E) position helpers for grid items
// END is an absolute position rather than a span
// END position is exclusive, so grid-s1-e3 covers columns 1 and 2
// END position of 13 is the same as span 12
@for $i from 1 through 13 {
	@for $k from 1 through 13 {
		.grid-s#{$i}-e#{$k} { display: grid ; grid-column: #{$i} / #{$k}; }
		/* @media screen and (max-width: 480px) {
			.grid-s#{$i}-e#{$k} { grid-column: 1 / -1 ; }
		} */
	}
}

.grid-full,
.grid-s1-e-1 {
	display: grid ;
	grid-column: 1 / -1 ;
}

.gridItem {
	box-sizing: border-box;
	display: grid ;
	min-width: 0; // Prevents grid blowout
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

  /* 
  https://css-tricks.com/snippets/css/complete-guide-grid/
  https://www.w3schools.com/css/css_grid.asp
  */
