

/* ========================================
===============  NERDJOKE   ===============
======================================== */

.nerdjoke {
	padding-bottom: 20px;
	font-size:24px;
}

.slackbutton {
	padding-bottom: 20px;
}