/* ========================================
===============    EBAY     ===============
======================================== */

.ebayItems {
    text-align: center;
}

@media screen and (max-width: 480px) {
	.ebayItems {
		padding: 20px;
	}
}

.ebayItem {
    border: 1px solid #DDD;
    text-align: left;
    padding: 20px 5px !important;
}

@media screen and (max-width: 480px) {
	.ebayItem {
		text-align: center;
	}
}

.ebayItemHeader {
    margin: 0 auto;
}

.ebayItemHeader h2 {
    font-size: 1.25em;
    font-weight: bold;
}

/* ===== PHOTO CAROUSEL ON EBAY ITEM DETAIL PAGE ===== */
.ebayItemPhotoCarousel {
    width: 100%;
    height: 400px;
}
.ebayItemPhotoCarousel .carouselContainer {
    background: none;
    border: none;
    height: 400px;
}
.ebayItemPhotoCarousel .carouselButtons,
.ebayItemPhotoCarousel .carouselButton {
    display: inline-block;
}

.ebayItemPhoto img {
    padding: 10px 0;
    width: 100%;

}

.ebayItemDetails {
    padding-bottom: 10px;
}

.ebayItemPrice{
    font-size: 1.5em;
    font-weight: bold;

    background-image: url(/images/pix/pix-bg-sm-bw.gif);
    border: 1px solid #999;
    display: inline-block;
	margin: 0 auto;
    padding: 5px 20px;
	
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
