/* ========================================
===============    EBAY     ===============
======================================== */

.ebayItems {
    text-align: center;
}

@media screen and (max-width: 480px) {
	.ebayItems {
		padding: 20px;
	}
}

.ebayItemsHeader {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

#ebayItemsFilter {
    font-size: 0.8em;
    margin: 20px auto;
}

@media screen and (max-width: 480px) {
    #ebayItemsFilter {
        text-align: left;
    }
	.filterInput { 
        display: block;
    }
}

.ebayItem {
    border: 1px solid #DDD;
    text-align: left;
    padding: 20px 5px !important;
}

@media screen and (max-width: 480px) {
	.ebayItem {
		text-align: center;
	}
}

.ebayItemBody {
    grid-auto-rows: min-content;
    margin: 10px 0;
}

.ebayItemHeader {
    margin: 0 auto;
}

.ebayItemHeader h2 {
    font-size: 1.25em;
    font-weight: bold;
}

/* ===== PHOTO CAROUSEL ON EBAY ITEM DETAIL PAGE ===== */
.ebayItemPhotoCarousel {
    width: 100%;
    height: 400px;
}

.ebayItemPhotoCarousel .carouselContainer {
    background: none;
    border: none;
    height: 400px;
}

.ebayItemPhotoCarousel .carouselCardsContainer {
    height: 100%;
}

.ebayItemPhotoCarousel .carouselButtons,
.ebayItemPhotoCarousel .carouselButton {
    display: inline-block;
}

@media screen and (max-width: 480px) {
	.ebayItemPhotoCarousel {
        height: 350px;
    }
    .ebayItemPhotoCarousel .carouselContainer {
        height: 300px;
    }
}

.ebayItemPhoto {
    overflow: hidden;
}

.ebayItemPhoto img {
    padding: 10px 0;
    width: 100%;
}

.ebayItems .ebayItemDetails {
    display: none;
}

.ebayItemDetails {
    padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
	.ebayItemDetails {
        text-align: left;
    }
}

.ebayItemPrice{
    font-size: 1.5em;
    font-weight: bold;
    /* background-image: url(/images/pix/pix-bg-sm-bw.gif); */
    border: 2px solid #CCC;
    border-radius: 5px;
    display: inline-block;
	margin: 0 auto;
    padding: 5px 20px;
    /* border: 1px solid #999;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; */
}
