
/* ========================================
===============  NERDJOKE   ===============
======================================== */

.nerdJoke {
	padding-bottom: 20px;
	font-size: 24px;
}

.nerdJoke .jokeText div {
	padding-bottom: 15px;
}

.slackButton {
	padding-bottom: 20px;
}

.label {
	font-weight: bold;
}

.jokeButton {
	/* background-image: url(/images/pix/pix-bg-sm-bw.gif); */
    border: 1px solid #999;
    display: inline-block;
    font-weight: bold;
	margin: 5px;
	padding: 5px 20px !important;

	/* display: block; */
	margin: 5px auto;
    text-align: center;
	max-width: 220px;
	transition: all .2s ease ;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.jokeButton:hover {
	--do-nothing: true;
}


.jokeTimer {
    border: 1px solid #AAA;
	position: relative;
	/* height: 25px;
	width: 100%; */
}

.jokeTimerSvg {
	width: 100%;
	height: 10px;
	fill: rgb(190,190,190);
	background: rgb(190,190,190);
	color: rgb(190,190,190);
}

#jokeTimerPathElapsed {
	fill: rgb(0,0,255);
	width: 100%;
	height: 10px; 
	transition: 1s linear all;
}

#jokeTimerLabel { --do-nothing: true }