/* ========================================
============  DEFAUTL CALLOUT  ============
======================================== */

.callout, 
.callout * {
    box-sizing: border-box; 
    display: flex;
    flex-flow: row;
    padding: 0px;
    /* border: 1px solid black; */
}

.callout {
    padding: 20px;
    align-items: stretch;
    width: 100%;
}

.callout.vertical {
    flex-direction: column;
    padding: 0;
}

.callout .calloutImage {
    overflow: hidden;
    width: 100%;
    background-color: white;
    /* position: relative; */
    /* align-self: start; */
    /* aspect-ratio causing some interesting results */
    /* aspect-ratio: 1/1;  */
}

.callout.vertical .calloutImage {
    width: 70%;
    margin: 0 auto;
    aspect-ratio: 1;
}

.callout .calloutImage a,
.callout .calloutImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.callout .calloutImage.square {
    border-radius: 0%;
}

.callout .calloutImage.bevel {
    clip-path: rect(1% 98% 98% 1% round 5%);
}

.callout .calloutImage.squircle {
    clip-path: rect(1% 98% 98% 1% round 25%);
}

.callout .calloutImage.round {
    clip-path: rect(1% 98% 98% 1% round 100%);
}

.callout .calloutBody {
    flex-flow: column;
}

.callout .calloutBody > * {
    padding: 5px 20px;
}

.callout.left,
.callout.right {
    float: unset !important; /* OVERRIDE pixelated.global.css */
}

.callout.left .calloutBody > * {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

.callout.right .calloutBody > * {
    text-align: right;
    margin-right: 0;
    margin-left: auto;
}

.callout .calloutHeader {
    text-align: center;
    margin: 0 auto;
}

.callout .calloutHeader a {
    --do-nothing: true;
}

.callout .calloutHeader h2 {
    --do-nothing: true;
}

.callout .calloutTitle {
    text-align: center;
}

.callout .calloutSubtitle {
    text-align: left;
}

.callout.vertical .calloutSubtitle {
    text-align: center;
    margin: 0 auto;
}

.callout .calloutSubtitle h3 {
    padding: 0;
    --do-nothing: true;
}

.callout .calloutContent {
    --do-nothing: true;
}

.callout .calloutButton { 
    --do-nothing: true;
}

.callout .calloutButton button { 
    display: inline-block;
    max-width: 250px;
    margin: 10px auto !important;
    padding: 10px 30px;
    border: 1px solid #999;
    background-color: #DDD;
    text-align: center;
    font: inherit;
    font-weight: 700;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* cursor: pointer */
}

.callout .calloutButton a {
    display: inline-block;
}

/* ========================================
=============  BOXED CALLOUT  =============
======================================== */

.callout.boxed {
	padding: 0px;
    margin: 10px 0;
    border: 1.5px solid #666;
    /* border-radius: 25px; */ /* moved to specific box shapes */
    overflow: hidden; /* hide image beyond round corners */
}

.callout.boxed.square {
    border-radius: 0px;
}

.callout.boxed.bevel {
    border-radius: 5px;
}

.callout.boxed.squircle {
    border-radius: 25px;
}

.callout.boxed.round {
    border-radius: 100%;
}

.callout.boxed .calloutImage {
	clip-path: none;
    aspect-ratio: 1/1;
    background-color: white;
    width: 100% !important;
}

.callout.boxed .calloutBody { 
    --do-nothing: true;
    padding: 5px 20px;
}

.callout.boxed.vertical .calloutBody { 
    --do-nothing: true;
    padding: 20px 0px;
}

/* ========================================
=============  FULL CALLOUT  =============
======================================== */

.callout.full {
    padding: 0px;
}

.callout.full.vertical .calloutImage {
    width: 100%;
}

.callout.full .calloutBody > * {
    padding: 5px 5px;
}

/* ========================================
=============  GRID CALLOUT  ==============
======================================== */

.callout.grid, 
.callout.grid * {
    display: grid;
}

@for $i from 1 through 11 {
    @for $k from 1 through 11 {
        .calloutGrid-#{$i}-#{$k} { grid-template-columns: #{$i}fr #{$k}fr; }
        @media screen and (max-width: 480px) {
			.calloutGrid-#{$i}-#{$k} { grid-template-columns: 1fr; }
		}
    }
}

.callout.grid {
    --do-nothing: true;
    /* assumes horizontal left */
	/* grid-template-columns: 1fr 2fr; */ /* moved to tsx */
}

.callout.grid.right {
    --do-nothing: true;
    /* assumes horizontal right */
	/* grid-template-columns: 2fr 1fr; */ /* moved to tsx */
}

.callout.grid.vertical {
	grid-template-columns: 1fr;

}

.callout.grid .calloutImage img {
    /* duplicate of .callout .calloutImage img */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.callout.grid .calloutBody {
	grid-auto-rows: min-content;
}

/* ========================================
===========  OVERLAY CALLOUT  =============
======================================== */

.callout.overlay {
    position: relative;
    padding: 0;
    overflow: hidden;
}

.callout.overlay .calloutImage {
    width: 100%;
    height: 100%;
}

.callout.overlay .calloutBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* padding: 20px; */
}

/* ========================================
=========  SPLIT SCREEN CALLOUT  ==========
======================================== */

.callout.split, 
.callout.split * {
    padding: 0px;
}

.callout.split .calloutImage,
.callout.split .calloutBody {
    flex: 1;
}

.callout.split .calloutBody > * {
    padding: 5px 20px;
}

/* ========================================
=========  CALLOUT MEDIA QUERIES  =========
======================================== */

@media screen and (max-width: 480px) {
    .callout { 
        flex-direction: column;
        margin: 30px 0;
        padding: 0;
    }
	.callout.full {
		margin: 0;
	}
    .callout.grid {
	    grid-template-columns: 1fr;
    }
    .callout .calloutImage { 
        width: 70%;
        margin: 0 auto;
    }
    .callout.full .calloutImage,
    .callout.split .calloutImage { 
        width: 100%;
        margin: 0 auto;
    }
    .callout .calloutBody > * { 
        margin: 0 auto !important;
        text-align: center !important;
    }
    .callout .calloutContent  { 
        text-align: left !important;
    }
} 
