/* ========================================
===============  CALLOUTS   ===============
======================================== */

.callout {
	padding: 20px;
	grid-auto-rows: auto; /* fix for callout vs boxed vs grid */
}

.calloutHeader {
	padding: 8px;
	clear: both;
	text-align: center;
	overflow: hidden;
}

.calloutBody { 
	--do-nothing: true;
}

.calloutTitle {
	text-transform: uppercase;
}

.calloutSubtitle {
	text-align: center;
}

.calloutContent {
	border-top: 0px solid transparent;
	/* display: inline-block; */
	padding: 5px;
}

.calloutContent li {
	margin-bottom: 7px;
}

.imgContainer {
    background: #fff;
    border: 1px solid #AAA;
	overflow: hidden;
	margin: 0px auto;
}

.imgContainer.round {
	/* -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; */
	/* clip-path: circle(); */
	clip-path: rect(1% 98% 98% 1% round 50%);
}

.imgContainer.squircle {
	/* -moz-border-radius: 25%;
	-webkit-border-radius: 25%;
	border-radius: 25%; */
	clip-path: rect(1% 98% 98% 1% round 25%);
}

.imgContainer.square {
	/* -moz-border-radius: 25%;
	-webkit-border-radius: 25%;
	border-radius: 25%; */
	clip-path: rect(1% 98% 98% 1% round 5%);
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
	aspect-ratio: 1;
	vertical-align: middle;
	/* place-items: center; */
    /* min-width: 100%; */
    /* min-height: 100%; */
}

.calloutImageVert {
	/* .round-img-container */
    width: 90%;
	height: auto;
}

.calloutImageHoriz {
	/* .round-img-container */
	/* .callout-image */
    width: 90%;
	height: auto;
    float: right;
}

@media screen and (max-width: 480px) {
	.calloutImageHoriz {
		/* .round-img-container */
		/* .callout-image */
    	width: 70%;
		float: none;
	}
	.calloutImageVert {
		width: 70%;
		height: auto;
	}
}



/* ========================================
=============  BOXED CALLOUT  =============
======================================== */

.callout.boxed {
	padding: 0px;
    margin: 10px;
    border: 1.5px solid #666;
    border-radius: 25px;
    overflow: hidden;
	/* force all griditems to same height */
	grid-auto-rows: 1fr; /* fix for callout vs boxed vs grid */
}

.boxed .imgContainer {
	clip-path: none;
    width: 100%;
}

.boxed .calloutBody {
    padding: 20px;
}
