
/* ========================================
==========      RESUME       ==============
======================================== */

.p_resume h1, .p_resume h2, .p_resume h3 {
	display: block;
	font-weight: bold;
	margin-top:10px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.p_resume h1	{
	font-size: 2.5em;
	/* margin: 0.67em 0; */
	text-align: center;
}

.p_resume h2	{
	font-size: 1.5em;
	/* margin: 0.83em 0; */
}
.p_resume h3	{
	font-size: 1.17em;
	/* margin: 1em 0; */
}

.p_resume ul, .p_resume ol {
	margin: 0 0 10px 0;
    padding-left: 20px;
}

.divider {
	border-right: 1px solid #ccc;
}

@media screen and (max-width: 480px) {
	.divider {
		border-right: 0;
	}
}

@media print {
	header { display: none; }
	nav { display: none; }
}

.p_resume {
	word-break: break-word;
	line-height: 1.4;
}

/* http://microformats.org/wiki/h-resume */

.p_name { --do-nothing: true }

.p_summary { --do-nothing: true }

.p_contact { --do-nothing: true }

.p_education { --do-nothing: true }

.p_experience { --do-nothing: true }

.p_skills { --do-nothing: true }

.p_skill-category {
	display: inline !important;
}

.p_skill { --do-nothing: true }

.p_affiliation { --do-nothing: true }

.p_qualifications { --do-nothing: true }

.p_qualification { --do-nothing: true }

/* http://microformats.org/wiki/h-card */

.p_name { --do-nothing: true }

.u_email { --do-nothing: true }

.u_photo { --do-nothing: true }

.u_url { --do-nothing: true }

.p_adr { --do-nothing: true }

.p_street-address { --do-nothing: true }

.p_locality { --do-nothing: true }

.p_region { --do-nothing: true }

.p_postal-code { --do-nothing: true }

.p_country-name { --do-nothing: true }

.p_tel { --do-nothing: true }

/* http://microformats.org/wiki/h-event */

.p_name { --do-nothing: true }

.p_summary { --do-nothing: true }

.dt_start {
	font-weight: bold;
	/* letter-spacing: -1px; */
}

.dt_end {
	font-weight: bold;
	/* letter-spacing: -1px; */
}

.dt_duration { --do-nothing: true }

.p_description { --do-nothing: true }

.u_url { --do-nothing: true }

.p_category { --do-nothing: true }

.p_location { --do-nothing: true }
