table.pixTable, .pixTable th, .pixTable tr, .pixTable td {
	border : 1px solid #ccc ;
	text-align: left;
}

table.pixTable {
	width: 100%
}

.pixTable th {
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 5px;
}

.pixTable td {
	padding: 5px;
}

button#showDialog, 
button#saveDialog, 
button#closeDialog {
	font-size: 1.1em;
    padding: 2px 5px;
    margin: 5px !important;
    vertical-align: middle;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 5px;

	padding: 5px 20px;
	-webkit-box-shadow: 0 0 5px 2px #CCC;
	-moz-box-shadow: 0 0 5px 2px #CCC;
    box-shadow: 0 0 5px 2px #CCC;
}

button#showDialog:hover,
button#saveDialog:hover, 
button#closeDialog:hover {
    outline: none;
	border: 1px solid #0C0;
	-webkit-box-shadow: 0 0 5px 2px #CCC;
	-moz-box-shadow: 0 0 5px 2px #CCC;
    box-shadow: 0 0 5px 2px #CCC;
}

dialog {
	padding: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}